<a href="https://colab.research.google.com/github/yakushinav/mgimo23/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%B0%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Основы программирования

*Задание на зачет*


### Часть 1: файл csv

**1.** Загрузите csv-файл с таблицей по [ссылке](https://dpo.cs.msu.ru/wp-content/uploads/2022/11/fishing.csv) в переменную fishing_data. Описание данных см. [здесь](https://github.com/yakushinav/journ/blob/main/fishing.md).

In [ ]:
### YOUR CODE HERE ###

   Unnamed: 0     mode    price   catch   pbeach    ppier    pboat  pcharter  \
0           1  charter  182.930  0.5391  157.930  157.930  157.930   182.930
1           2  charter   34.534  0.4671   15.114   15.114   10.534    34.534
2           3     boat   24.334  0.2413  161.874  161.874   24.334    59.334
3           4     pier   15.134  0.0789   15.134   15.134   55.930    84.930
4           5     boat   41.514  0.1082  106.930  106.930   41.514    71.014

   cbeach   cpier   cboat  ccharter     income
0  0.0678  0.0503  0.2601    0.5391  7083.3317
1  0.1049  0.0451  0.1574    0.4671  1249.9998
2  0.5333  0.4522  0.2413    1.0266  3749.9999
3  0.0678  0.0789  0.1643    0.5391  2083.3332
4  0.0678  0.0503  0.1082    0.3240  4583.3320

**2.** Выведите описательные статистики для всех числовых (integer, float) переменных в датафрейме.

In [ ]:
### YOUR CODE HERE ###

count    1182.000000
mean       52.081975
std        53.829970
min         1.290000
25%        15.870000
50%        37.896000
75%        67.513000
max       666.110000
Name: price, dtype: float64

**3.** Выберите из таблицы только строки, которые соответствуют респондентам, которые выбрали рыбалку на берегу (`beach`).

In [ ]:
### YOUR CODE HERE ###

**4.** Выберите из таблицы строки, которые соответствуют респондентам, которые предпочитают рыбачить на лодке (`boat`) с доходом (`income`) ниже 3500. Сохраните результат в переменную `boat_data`.

In [ ]:
### YOUR CODE HERE ###

**5.** Переименуйте столбец `catch` в `c_rate`.

In [ ]:
### YOUR CODE HERE ###

**6.** Добавьте в таблицу столбец `log_income`, содержащий натуральный логарифм доходов респондентов.

In [ ]:
### YOUR CODE HERE ###

**7.** Сгруппируйте наблюдения в таблице по признаку тип рыбалки (`mode`) и выведите для каждого типа среднюю цену (`price`), которую респонденты готовы заплатить за рыбалку.

In [ ]:
### YOUR CODE HERE ###

**8.** Выведите на экран первые 8 строк таблицы. А теперь последние 8.

In [ ]:
### YOUR CODE HERE ###

**9.** Сохраните изменённый датафрейм в csv-файл.

In [ ]:
### YOUR CODE HERE ###

### Часть 2: Анализ данных о странах мира

**Файл для работы**

`polit.xlsx` ([ссылка](https://dpo.cs.msu.ru/wp-content/uploads/2022/11/polit.xlsx) на файл)

**Описание файла**

сокращенная версия файла `PetersMcGuireData.xlsx`, взятого [отсюда](http://jmcguire.faculty.wesleyan.edu/welcome/data/#20LActries) (страница James W.McGuire, Data used in “Authoritarianism in the Middle East”).

**Переменные:**

* `ctry` – country;
* `fh09` – Freedom House index (ranging from 1 (most) to 7 (fewest) political rights and civil liberties), 2009;
* `polity09` – Polity2 score (ranging from -10 to +10, latter most democratic), 2009;
* `gini` – Gini index of income inequality, 2000-2010;
* `fparl08` – female share of seats in parliament (%), 2008;
* `mena` – Middle East and North Africa (1 - yes, 0 - no);
* `lati` – Latin America (1 - yes, 0 - no);
* `cari` – Caribbean, former British, French, Dutch colony;
* `east` – East Asia;
* `sovi` – Former Soviet Bloc;
* `afri` – Africa;
* `corr0509` – Control of Corruption, average 2005-2009 (expert rating).

**1.** Загрузите таблицу из файла `polit.xlsx` и сохраните ее в переменную `df`.

In [ ]:
### YOUR CODE HERE ###
### YOUR CODE HERE ###
import pandas as pd

df=pd.read_excel("https://dpo.cs.msu.ru/wp-content/uploads/2022/11/polit.xlsx", index_col=0)

**2.** Выведите общую информацию по таблице: число строк и столбцов, типы данных в таблице. Есть ли в таблице пропущенные значения?

In [ ]:
### YOUR CODE HERE ###

**3.** Если в таблице есть строки с пропущенными значениями, удалите их. Сохраните изменения в `df`.

In [ ]:
### YOUR CODE HERE ###

**4.** Выведите на экран описательные статистики по всем количественным переменным в таблице. Выберите какой-нибудь интересующий вас столбец и проинтерпретируйте описательные статистики по нему (т.е. опишите «обычными» словами, что значат значения типа `min`, `std`, `50%` и так далее).

In [ ]:
### YOUR CODE HERE ###

**5.** Выберите в таблице строки, которые соответствуют странам со значениями Freedom House (`fh09`) выше 5. Сохраните их в переменную `not_free`.

In [ ]:
### YOUR CODE HERE ###

**6.** Выберите в таблице строки, которые соответствуют странам Африки (`afri`) с процентом женщин в парламенте выше 30%.

In [ ]:
### YOUR CODE HERE ###

**7.** Выберите в таблице строки, которые соответствуют странам Африки или Латинской Америки (`afri` и `lati`) со значением `polity09` больше или равным 8.

In [ ]:
### YOUR CODE HERE ###

**8.** Отсортируйте строки в таблице в соответствии со значениями столбца со средними значениями индекса Control of Corruption (`corr0509`) по убыванию и выведите: первые 10 строк; последние 10 строк. Используйте метод `.sort_values()`.

*Пример:*

    df.sort_values('column_name', ascending = False) # ascend - возрастать

In [ ]:
### YOUR CODE HERE ###

**9.** Добавьте в `df` столбец corr_round, в котором будут храниться округленные до 2 знака после запятой значения индекса Control of Corruption (`corr0509`).

In [ ]:
### YOUR CODE HERE ###

**10.** Добавьте в `df` столбец `fh_status`, в котором будут храниться типы стран в зависимости от значения индекса Freedom House (значения free, partly free, not free). Соответствие значений `fh09` с типами стран см. [здесь](https://gtmarket.ru/news/2016/01/28/7290).

In [ ]:
### YOUR CODE HERE ###
df["fhi"]=df["fh09"]*100//7
df["fh_status"]=""

In [ ]:
df.loc[df["fhi"]>=71, "fh_status"]="free"
df.loc[(df["fhi"]>38) & (df["fhi"]<=70), "fh_status"]="partly free"
df.loc[df["fhi"]<38, "fh_status"]="not free"
print(df.head())

                fh09  polity09  gini  fparl08  mena  lati  cari  east  sovi  \
ctry
Afghanistan      6.0       0.0   NaN    25.87     0     0     0     0     0
Albania          3.0       9.0  33.0     7.14     0     0     0     0     1
Algeria          5.5       2.0  35.3     6.48     1     0     0     0     0
American Samoa   NaN       NaN   NaN      NaN     0     0     0     0     0
Andorra          1.0       NaN   NaN    25.00     0     0     0     0     0

                afri  corr0509   fhi    fh_status
ctry
Afghanistan        0 -1.550910  85.0         free
Albania            0 -0.580513  42.0  partly free
Algeria            0 -0.434654  78.0         free
American Samoa     0  0.442991   NaN
Andorra            0  1.307767  14.0     not free

**11.** Сгруппируйте строки в таблице в соответствии со значениями столбца `fh_status`, полученного в предыдущей части и выведите минимальное, среднее и максимальное значение показателя `gini` (индекс Джини) по каждой группе.

In [ ]:
### YOUR CODE HERE ###

**12.** Сгруппируйте строки в таблице в соответствии со значениями столбца `fh_status` и запишите строки, относящиеся к разным группам, в отдельные csv-файлы.

*Подсказка:* используйте цикл for и перебирайте в нем пары название группы-датафрейм. Попробуйте прогнать следующий код и посмотреть, что получится:

    for name, table in df.groupby('fh_status'):
        print(name, table.head(2))

Сочетая функционал `pandas` и `matplotlib`, постройте диаграмму рассеяния (scatterplot, функция `scatter()`) для пары показателей `fh09` и `corr0509`. Поменяйте тип точек (маркер) и цвет точек. Добавьте заголовок к графику.

In [ ]:
### YOUR CODE HERE ###